<meta name="twitter:site" content="@myname">
<meta name="twitter:creator" content="@myname">
<meta name="twitter:card" content="summary_large_image" />
{{ if .IsPage }}
<meta name="twitter:description" content="{{ .Summary }}" />
<meta name="twitter:title" content="{{ .Title }}" />

<meta name="twitter:image" content="{{ .Params.image }}" /> {{ else }}
<meta name="twitter:title" content="{{ .Site.Title }}" />
<meta name="twitter:description" content="{{ .Description }}" />

<meta name="twitter:image" content="https://rdmpromotion.rbind.io/img/twittercard.png" />

{{ end }}